# Exploration data

## Libraries import

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv("../data_store/raw/CLRTAP_NVFR19_V23_1_GF_csv.csv",sep='\t')

C:\Users\lnop0\AppData\Local\Temp\ipykernel_13832\3526894993.py:1: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data_store/raw/CLRTAP_NVFR19_V23_1_GF_csv.csv",sep='\t')

In [9]:
df.columns

Index(['Country_Code', 'Country', 'Pollutant_name', 'Format_name',
       'Sector_code', 'Year', 'Emissions', 'Unit', 'Notation', 'VersionId',
       'Parent_sector_code', 'Sector_name'],
      dtype='object')

In [8]:
df.head(10)

,Country_Code,Country,Pollutant_name,Format_name,Sector_code,Year,Emissions,Unit,Notation,VersionId,Parent_sector_code,Sector_name
0,AT,Austria,As,NFR 2014-1,1A1a,1990,NaN,Mg,NaN,1.0,NATIONAL TOTAL,Public electricity and heat production
1,AT,Austria,As,NFR 2014-1,1A1b,1990,NaN,Mg,NaN,1.0,NATIONAL TOTAL,Petroleum refining
2,AT,Austria,As,NFR 2014-1,1A1c,1990,NaN,Mg,NaN,1.0,NATIONAL TOTAL,Manufacture of solid fuels and other energy in...
3,AT,Austria,As,NFR 2014-1,1A2a,1990,NaN,Mg,NaN,1.0,NATIONAL TOTAL,Stationary combustion in manufacturing industr...
4,AT,Austria,As,NFR 2014-1,1A2b,1990,NaN,Mg,NaN,1.0,NATIONAL TOTAL,Stationary combustion in manufacturing industr...
5,AT,Austria,As,NFR 2014-1,1A2c,1990,NaN,Mg,NaN,1.0,NATIONAL TOTAL,Stationary combustion in manufacturing industr...
6,AT,Austria,As,NFR 2014-1,1A2d,1990,NaN,Mg,NaN,1.0,NATIONAL TOTAL,Stationary combustion in manufacturing industr...
7,AT,Austria,As,NFR 2014-1,1A2e,1990,NaN,Mg,NaN,1.0,NATIONAL TOTAL,Stationary combustion in manufacturing industr...
8,AT,Austria,As,NFR 2014-1,1A2f,1990,NaN,Mg,NaN,1.0,NATIONAL TOTAL,Stationary combustion in manufacturing industr...
9,AT,Austria,As,NFR 2014-1,1A2gvii,1990,NaN,Mg,NaN,1.0,NATIONAL TOTAL,Mobile Combustion in manufacturing industries ...

In [7]:
df.describe()

               Year     Emissions  Notation  VersionId
count  3.933696e+06  2.419559e+06       0.0  3816384.0
mean   2.005500e+03  9.293554e+00       NaN        1.0
std    9.233094e+00  2.575929e+02       NaN        0.0
min    1.990000e+03  0.000000e+00       NaN        1.0
25%    1.997750e+03  0.000000e+00       NaN        1.0
50%    2.005500e+03  0.000000e+00       NaN        1.0
75%    2.013250e+03  3.199877e-02       NaN        1.0
max    2.021000e+03  6.048019e+04       NaN        1.0

In [12]:
for column in df.columns:
    print (df[column].value_counts)

AttributeError: 'function' object has no attribute 'count'